.our-story{

  .title{
      margin: 10px 0;
      font-weight:bolder;
      border-bottom: 4px solid black;
      font-size: 2.4rem;
      width:35%;
      overflow-wrap: break-word;
      color : #090056;
      padding-bottom: 10px;
      line-height: 46px;
  }


  @media (max-width: 768px) {
       .title{
           border-bottom: 0;
           width: 100%;
           text-align: center;
           font-size: 32px;
       }
}
}